.row 
  .col-12.col-md-6.offset-md-3
    %h1.mt-4.text-center=@book.title
    .small.mb-4.text-muted.text-center=@book.isbn
    .row 
      .col-3
        %strong Author 
      .col-9=@book.author
    .row 
      .col-3 
        %strong Publisher 
      .col-9=@book.publisher
    .d-flex.justify-content-center.mt-4
      = link_to 'Back', books_path, class: 'mr-3 text-danger'
      |
      = link_to 'Edit', edit_book_path(@book), class: 'ml-3'
